body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .switch {
    position: relative;

    > input[type="checkbox"] {
      display: none;

      &:checked {
        ~ label {
          background-color: green;
        }

        ~ label + label {
          background-color: white;
          transform: translateX(24px);
        }
      }
    }

    > label {
      width: 50px;
      height: 26px;
      background-color: grey;
      position: absolute;
      border-radius: 13px;
      transition: 0.2s all;
      left: 0;
    }

    > label + label {
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background-color: white;
      margin: 2px;
      box-shadow: inset -5px -5px 5px rgba($color: black, $alpha: 0.2);
    }
  }
}
